# Django settings
DJANGO_SETTINGS_MODULE=myportfolio.settings.local
SECRET_KEY="7x(%%n4wn@z(250=d0&_h*k%d3i8vadd$&h!9po^zckox!v&@1"
DEBUG=True
# Allowed hosts (comma-separated, no spaces)
ALLOWED_HOSTS=".vercel.app"
DATABASE_URL="postgresql://neondb_owner:npg_EcYX9jyw0rNH@ep-snowy-star-am5eztn0-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
